<div class="row" style="place-content:center">
  <div class="col-md-3" style="padding:30px">
    <h1 style="font-family:Poppins-Bold;margin-bottom:50px">
      Creating a room  
    </h1>
  
    <%= render partial: 'form' %>
  </div>
</div>